# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build, test and deploy ASP.Net Core app to Azure Web App - FalconAPI

on:
  push:
    branches:
      - development
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'
      
      - name: Restore dependencies
        run: dotnet restore

      - name: Build with dotnet
        run: dotnet build --configuration Release
      

      - name: Run unit tests only (ProjetoTCCBackend.Unit.Test)
        run: dotnet test ProjetoTCCBackend.Unit.Test --configuration Release

      - name: Publish ProjetoTCCBackend only
        run: dotnet publish ProjetoTCCBackend/ProjetoTCCBackend.csproj -c Release -o "${{env.DOTNET_ROOT}}/app"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/app

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_90EC6893C26F436290C20C409BC1E815 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9A7681853C2B4986BCB82C56AAB8B33F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_75457BBD4A6B44458871015BB8157DAA }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'FalconAPI'
          slot-name: 'Production'
          package: .
          clean: true
          